.category__wrapper, .product__wrapper, .cart__wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

img.card-img-top{
  height: 200px;
  width: 200px;
}

.login__wrapper, .register__wrapper{
  width: 450px;
  margin: 0 auto;
}
